# Imports

In [15]:
import os
import pandas as pd
import json
import requests

In [21]:
df_test_nopred = pd.read_csv('test_data/test_csv_no_pred.csv')

In [24]:
df_test_nopred.rename(columns={'Unnamed: 0':'timestamp'}).set_index('timestamp')

            log1p_close
timestamp
2022-01-01    10.773182
2022-01-02    10.763995
2022-01-03    10.746069
2022-01-04    10.732760
2022-01-05    10.679415
...                 ...
2022-06-22     9.902937
2022-06-23     9.957556
2022-06-24     9.963580
2022-06-25     9.975445
2022-06-26     9.954136

[177 rows x 1 columns]

# Calling API

In [17]:
#url = os.environ.get('FIGMA_CRYPTO_API_URL')
url = "http://127.0.0.1:5000/framework_data"

header = {'Content-type': 'application/json' }
framework_data = {'crypto': 'ETH', 
                'market_curr': 'BRL', 
                'run_model': True,
                'column': 'high',
                'old_days': 0,
                'next_days': 14}

framework_json = json.dumps(framework_data)

r = requests.post(url, data=framework_json, headers=header)
print( 'Status Code {}'.format( r.status_code ) )

Status Code 200

# Checking Data

In [18]:
df1 = pd.DataFrame(r.json(), columns=r.json()[0].keys())