# Imports

In [1]:
import pandas as pd
import json
import requests

# Calling API

In [2]:
# API Call
url = 'https://crypto-figma-api-uabrnuqwoa-uc.a.run.app/framework_data'
header = {'Content-type': 'application/json' }
framework_data = {'crypto': 'ETH', 
                'market_curr': 'BRL', 
                'run_model': True,
                'column': 'low',
                'old_days': 0,
                'next_days': 14}

framework_json = json.dumps(framework_data)

r = requests.post(url, data=framework_json, headers=header)
print( 'Status Code {}'.format( r.status_code ) )

Status Code 200

# Checking Data

In [3]:
df = pd.DataFrame(r.json(), columns=r.json()[0].keys())

In [4]:
df

       timestamp        low  low_forecast
0     2019-10-28  991.56430           NaN
1     2019-10-29  996.56748           NaN
2     2019-10-30  985.68144           NaN
3     2019-10-31  976.77468           NaN
4     2019-11-01  973.25596           NaN
...          ...        ...           ...
1010  2022-08-03        NaN   8010.646540
1011  2022-08-04        NaN   7757.243064
1012  2022-08-05        NaN   7445.634906
1013  2022-08-06        NaN   7363.145003
1014  2022-08-07        NaN   7644.325279

[1015 rows x 3 columns]

In [5]:
df

       timestamp        low  low_forecast
0     2019-10-28  991.56430           NaN
1     2019-10-29  996.56748           NaN
2     2019-10-30  985.68144           NaN
3     2019-10-31  976.77468           NaN
4     2019-11-01  973.25596           NaN
...          ...        ...           ...
1010  2022-08-03        NaN   8010.646540
1011  2022-08-04        NaN   7757.243064
1012  2022-08-05        NaN   7445.634906
1013  2022-08-06        NaN   7363.145003
1014  2022-08-07        NaN   7644.325279

[1015 rows x 3 columns]