# Imports

In [1]:
import os
import pandas as pd
import json
import requests

# Calling API

In [5]:
url = os.environ.get('FIGMA_CRYPTO_API_URL')

header = {'Content-type': 'application/json' }
framework_data = {'crypto': 'ETH', 
                'market_curr': 'BRL', 
                'run_model': False,
                'column': 'low',
                'old_days': 0,
                'next_days': 14}

framework_json = json.dumps(framework_data)

r = requests.post(url, data=framework_json, headers=header)
print( 'Status Code {}'.format( r.status_code ) )

Status Code 200

# Checking Data

In [6]:
df = pd.DataFrame(r.json(), columns=r.json()[0].keys())

In [7]:
df

      timestamp          low
0    2019-11-07   957.228363
1    2019-11-08   940.737837
2    2019-11-09   947.064391
3    2019-11-10   950.538810
4    2019-11-11   954.479942
..          ...          ...
995  2022-07-29  8582.437214
996  2022-07-30  8675.727957
997  2022-07-31  8639.376200
998  2022-08-01  8328.856484
999  2022-08-02  8121.687769

[1000 rows x 2 columns]