# Imports

In [8]:
import os
import pandas as pd
import json
import requests

# Calling API

In [12]:
url = os.environ.get('FIGMA_CRYPTO_API_URL')

header = {'Content-type': 'application/json' }
framework_data = {'crypto': 'ETH', 
                'market_curr': 'BRL', 
                'run_model': True,
                'column': 'high',
                'old_days': 0,
                'next_days': 14}

framework_json = json.dumps(framework_data)

r = requests.post(url, data=framework_json, headers=header)
print( 'Status Code {}'.format( r.status_code ) )

Status Code 200

# Checking Data

In [13]:
df = pd.DataFrame(r.json(), columns=r.json()[0].keys())

In [14]:
df

       timestamp         high  high_forecast
0     2019-11-09   981.770097            NaN
1     2019-11-10  1012.366194            NaN
2     2019-11-11  1005.021017            NaN
3     2019-11-12   991.598895            NaN
4     2019-11-13  1002.220338            NaN
...          ...          ...            ...
1010  2022-08-15          NaN   10067.560043
1011  2022-08-16          NaN    9737.466147
1012  2022-08-17          NaN    9857.794505
1013  2022-08-18          NaN    9741.557049
1014  2022-08-19          NaN    9410.417902

[1015 rows x 3 columns]