# Imports

In [1]:
import pandas as pd
import json
import requests

# Calling API

In [5]:
# API Call
url = 'http://127.0.0.1:5000/framework_data'
header = {'Content-type': 'application/json' }
framework_data = {'crypto': 'ETH', 
                'market_curr': 'BRL', 
                'run_model': True,
                'column': 'high',
                'old_days': 0,
                'next_days': 14}

framework_json = json.dumps(framework_data)

r = requests.post(url, data=framework_json, headers=header)
print( 'Status Code {}'.format( r.status_code ) )

Status Code 200

# Checking Data

In [6]:
df = pd.DataFrame(r.json(), columns=r.json()[0].keys())

In [7]:
df

       timestamp        high  high_forecast
0     2019-10-17  962.482672            NaN
1     2019-10-18  954.307808            NaN
2     2019-10-19  941.077436            NaN
3     2019-10-20  951.296016            NaN
4     2019-10-21  956.781780            NaN
...          ...         ...            ...
1010  2022-07-23         NaN    5629.334869
1011  2022-07-24         NaN    5627.276449
1012  2022-07-25         NaN    5596.969177
1013  2022-07-26         NaN    5582.251010
1014  2022-07-27         NaN    5514.517999

[1015 rows x 3 columns]